@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar for Chrome, Safari, Edge and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
